.footer {
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: center;
    padding-bottom: 20px;
    color: $gray;
    flex: 1;
   
}

.social-icons{
    
    display: flex;
    
    justify-content: center;
    gap: 30px;

    .icon{
        color: $aqua;
        padding-bottom: 10px;
    }
    .icon:hover{
        color: aqua;
    }
} 
