.form-container {
    gap: 30px;
    max-width: 1200px;
    margin: 50px auto;
    width: 90%;
    padding: 5px;
    min-height: 70vh;

    form {
        label, input, textarea {
            display: block;
            width: 50%;
        }

        input, textarea {
            padding: 5px;
            padding-top: 8px;
            margin-bottom: 10px;
            display: flex;
            outline: none;
            border:1px solid $gray;
            border-radius: 4px;
        }

        textarea {
            min-height: 300px;
        }
        
        input:focus {
            outline: none !important;
            border:1px solid $orange;
        }
    }
}
