header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 30px;
    font-size: 2em;
    color: $dark;
    box-shadow: 0 2px 2px rgb(134, 232, 23);
    Link{
        background-color: rgb(0, 0, 0, 0);
    }
}