
*,*::before,*::after{
    box-sizing: border-box;
}
.row{
    display: flex;
}
.conteiner{
    max-width: 90%;
    margin: 0 auto;
    
    
}
.cards{
    flex-wrap: wrap;
    gap: 2em;
    padding: 1em 0;

    .card{
    align-items:flex-end;
    justify-content: center;
    position: relative;
    max-width: 150px;
    min-height: 380px;
    text-align: center;
    text-wrap: wrap;
    overflow: hidden;
    cursor: pointer;
    background-image: url(https://images.unsplash.com/photo-1497290756760-23ac55edf36f?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8c2VhfGVufDB8fDB8fHww) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: max-width 0.5s ease-in-out;
    -webkit-transition: max-width 0.5s ease-in-out;
    -moz-transition: max-width 0.5s ease-in-out;
    -ms-transition: max-width 0.5s ease-in-out;
    -o-transition: max-width 0.5s ease-in-out;

    

    }
}

.card:nth-of-type(2){
    background-image: url(https://images.unsplash.com/photo-1457195740896-7f345efef228?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fHNlYXxlbnwwfHwwfHx8MA%3D%3D);
    
}
.card:nth-of-type(3){
    background-image: url(https://images.unsplash.com/photo-1542401886-65d6c61db217?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZGVzZXJ0fGVufDB8fDB8fHww);
}
.card:hover, .card:active{
    max-width: 350px;
}
.card-body{
    background: linear-gradient(180deg, rgb(45, 45, 45, 0) 0%, #2d2d2d);
    padding: 4em;
    
}
.title2{
    background: linear-gradient(180deg, rgb(45, 45, 45, 0) 0%, #2d2d2d);
    position: absolute;
    inset: 0 ;
    
}
.card:hover .title2, .card:active .title2{
    all: unset;
}
h3{
    font-family: 'Montserrat', sans-serif;
    // font-size: clamp(38px, 5vw, 48px);
    font-size: 34px;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    margin: 0;
    transform: rotate(-90deg) translateX(-290px);
    -webkit-transform: rotate(-90deg) translateX(-290px);
    -moz-transform: rotate(-90deg) translateX(-290px);
    -ms-transform: rotate(-90deg) translateX(-290px);
    -o-transform: rotate(-90deg) translateX(-290px);
}
.card:hover h3, .card:active h3 {
    padding-bottom: 0.5em;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}
h5{
    // font-family: 'Montserrat', sans-serif;
    position: absolute;
    font-size: 14px;
    color: white;
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s easy-in-out;
    -webkit-transition: max-height 0.3s easy-in-out ;
    -moz-transition: max-height 0.3s easy-in-out;
    -ms-transition: max-height 0.3s easy-in-out;
    -o-transition: max-height 0.3s easy-in-out;
}
.card:hover h5, .card:active h5 {
    position: relative;
    opacity: 1;
    max-height: 100%;
    transition-delay: 0.3s;
}

// 
.pets-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    max-width: 1200px;
    margin: 15px auto;
    width: 90%;
    padding: ępx;
    
 
    h1 {
        color: $dark;
        font-weight: 300;
        font-size: 3em;
    }
    
}
.pets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(150px, 350px);
    gap: 30px;
    max-width: 1200px;
    width: 90%;
    margin: 15px auto;
    padding: 5px;
      

    .pet {
        display: flex;
        flex-direction: column;
        border: 2px solid lightgray;
        text-align: center;
        border-radius: 17px;
        background: $pink;
        // padding: 20px;
        color: $gray;

            h2 {
                margin-bottom: 30px;
                color: $dark;
            }

            .buttons {
                margin-top: 30px;
                justify-content: center;
                padding-bottom: 10px;
            }
            img{display: flex;
                width: 180px;
                height: 130px;
                margin: auto;
                object-fit: cover;
                border-radius: 50%;
            }
        }

    @media (max-width: 1200px){
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 550px){
        grid-template-columns: 1fr;
        font-size: smaller;
    }
}